<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1> Mi Diario De Vida </h1>
    {% if publicaciones%}
        {% for publicacion in publicaciones %}
            <p> {{publicacion.titulo}} 
                <b>{{ publicacion.titulo}}</b>
                ({{publicacion.fecha}}): {{publicacion.texto}}
            </p>
        {% endfor %}
    {% else %}
        <b> No hay publicaciones </b>
    {% endif %}

</body>
</html>